@media screen and (max-width: 376px) {
  /* header */
  header {
    width: 100%;
    height: 200%;
  }

  /* logo */
  header .logo {
    width: 30vw;
    height: 5vw;
    position: absolute;
    top: 2%;
    left: 11.5%;
    z-index: 1;
  }

  header .logo .logo-text {
    font-size: 3vw;
  }

  /* end logo */

  /* vektor header */
  header .header-background-pc {
    display: none;
  }

  header .header-background-hp-1 {
    width: 57%;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    display: block;
  }

  header .header-background-hp-2 {
    position: absolute;
    z-index: 0;
    bottom: 25%;
    display: block;
  }

  header .header-background-hp-3 {
    position: absolute;
    z-index: 0;
    top: 45%;
    right: 0;
    display: block;
  }
  /* end vektor header */

  /* button header */
  header .header-button-wrap {
    background: -webkit-linear-gradient(left, #337ef0 0%, #ff92fe 70%, #ff92fe 100%);
    padding: 0.5%;
    position: absolute;
    top: 2%;
    right: 6%;
    box-shadow: 2px 2px 5px #333;
    overflow-y: hidden;
  }

  header .header-button-wrap .header-button {
    font-size: 80%;
    overflow-y: hidden;
  }

  header .header-button-wrap:hover {
    box-shadow: 0;
  }

  header .header-button-wrap:hover .header-button {
    background-color: #e5eeff;
  }

  /* end button header */

  /* orang 1 */
  header .orang1 {
    width: 30%;
    position: relative;
    left: 81%;
    top: 20%;
    display: block;
  }
  /* end orang 1 */

  /* orang 2 */
  header .orang2-hp {
    width: 54%;
    position: absolute;
    left: 5%;
    bottom: 65%;
    display: block;
  }

  header .orang2-pc {
    display: none;
  }

  /* end orang 2 */

  /* Orang Tua header */
  .Orang-Tua {
    position: absolute;
    left: 11.5%;
    width: 80vw;
    height: 100vw;
    top: 10%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    z-index: -4;
  }

  .container .SRIFOTON-2023 {
    font-size: 180%;
    font-family: "ethnocentric";
    background: -webkit-linear-gradient(left, #fc39fc 0%, #337ef0 90%, #337ef0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .Hallo-Semua {
    font-size: 100%;
  }
  .div-selamat-datang {
    font-size: 150%;
    margin: auto;
    width: 100%;
  }
  .Quotes-Windah {
    display: none;
  }
  .Orang-Tua-button {
    width: 15vmax;
    height: 5vmax;
    border-radius: 50px;
    border: 0;
    background-color: #2a89f8;
    color: white;
    position: relative;
    margin-top: 18%;
    left: 1%;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 80%;
  }
  /* end Orang Tua Header */

  /* end header */

  /* content */
  .content {
    width: 100%;
    height: 120%;
    background-color: transparent;
    position: absolute;
    top: 75%;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }

  .content img {
    width: 80%;
    margin-bottom: 10%;
  }

  /* burung merah */

  .orang-tua {
    /* border: 5px solid black; */
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    z-index: 1;
    top: 230%;
    align-items: center;
    justify-content: center;
    background-image: url(supply/Vector-burung-merah-hp.svg);
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10%;
    overflow: hidden;
  }

  .burung {
    text-align: center;
  }

  .burung img {
    width: 60%;
  }

  .kumpulan-text {
    /* border: 2px solid black; */
    width: 80%;
  }
  .head {
    font-family: "Poppins";
    /* color: #F7F5F9; */
    font-weight: 600;
    font-size: 150%;
    padding-bottom: 2%;
    color: white;
    /* background-color: aquamarine; */
  }
  .text1 {
    font-family: "Poppins";
    font-size: 100%;
    padding-bottom: 1.65%;
    text-align: justify;
    /* background-color: beige; */
  }
  .text2 {
    /* background-color: antiquewhite; */
    font-family: "Poppins";
    font-size: 100%;
    text-align: justify;
  }
  /*.burung{
        border: 2px solid black;
        width: 20%;
        osition: relative;
        bottom: 321px;
    } */

  /* end burung merah */
  /* end content */
 /* footer */
.Footer_Light {
  /* background-color: gray; */
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("supply/2.png"); /*masih salah tampilan gambarnya */
  background-position: center;
  background-size: cover;
  /* background-blend-mode: overlay; */
  border: 0.5pt solid transparent;
  background-color: transparent;
  /* width: 1440pt; */
  width: 100%;
  height: 120%;
  position: absolute;
  top: 330%;
  z-index: 10;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
}
.Horizontal {
  border: 1.5px solid #cdcdcd;
  width: 90%;
  position: relative;
  margin: auto;
}
.Columns {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(50% 50%);
  margin: auto;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
}
.Logo_Columns {
  margin-right: auto;
  width: 100%;
  text-align: center;
}
.Menus {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  font-size: 90%;
}
.Alamat {
  border: 1px solid transparent;
  width: 100%;
  margin-right: 3%;
}
.Alamat .Head_Alamat {
  font-family: "Poppins";
  background: -webkit-linear-gradient(left, #fc39fc 0%, #337ef0 40%, #337ef0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  border: 1px solid transparent;
  margin-bottom: 1vw;
}
.Alamat .Text_Alamat {
  font-family: "Poppins";
  color: #52525b;
  border: 1px solid transparent;
}
.Kontak {
  border: 1px solid transparent;
  margin-right: 4%;
}
.Kontak .Head_Kontak {
  font-family: "Poppins";
  background: -webkit-linear-gradient(left, #fc39fc 0%, #337ef0 40%, #337ef0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  border: 1px solid transparent;
  margin-bottom: 1vw;
}
.Text_Kontak {
  font-family: "Poppins";
  font-weight: 400;
  color: #52525b;
}
.Text_Kontak_Whatsapp {
  background: -webkit-linear-gradient(left, #fc39fc 0%, #337ef0 80%, #337ef0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  border: 1px solid transparent;
  display: flex;
  margin-bottom: 1pt;
}
.Text_Kontak_Email {
  background: -webkit-linear-gradient(left, #fc39fc 0%, #337ef0 50%, #337ef0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  border: 1px solid transparent;
  display: flex;
  margin-bottom: 1pt;
}
.Navigasi {
  width: 20%;
  border: 1px solid transparent;
  margin-right: 5%;
}
.Head_Navigasi {
  font-family: "Poppins";
  background: -webkit-linear-gradient(left, #fc39fc 0%, #337ef0 60%, #337ef0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  border: 1px solid transparent;
  margin-bottom: 1vw;
}
.Text_Navigasi {
  font-family: "Poppins";
  color: #52525b;
}
.Kompetisi {
  border: 1px solid transparent;
}
.Head_Kompetisi {
  font-family: "Poppins";
  background: -webkit-linear-gradient(left, #fc39fc 0%, #337ef0 90%, #337ef0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  border: 1px solid transparent;
  margin-bottom: 1vw;
}
.Text_Kompetisi {
  font-family: "Poppins";
  color: #52525b;
}
.Bottom {
  border: 0.5pt solid transparent;
  width: 100%;
  margin: auto;
  margin-top: 66.62pt;
  display: flex;
  position: relative;
  bottom: 9%;
}
.©_SRIFOTON_2023 {
  font-family: "Poppins";
  background: -webkit-linear-gradient(left, #fc39fc 0%, #337ef0 40%, #337ef0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 100%;
  /* width: 120pt; */
  border: 1px solid transparent;
  display: inline;
  position: relative;
  left: 45%;
}
.Social {
  display: flex;
  position: relative;
  left: 5%;
}

/* end footer */
}
